@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

header {
    /* background: #EEE; */
    position: relative;
}

body {
    height: 100%;
  }
  
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
  background: #FFF;
  padding: 20px;
}

.container{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    
  }

  .column-img {
    flex: 1;
  }
  
  .column-text {
    flex: 2;
  }


header h1 {
    /* text-align: center; */
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 1rem;  
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  nav {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }  
  
  nav ul {
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    font-weight: bold;
    color: #333;
  }

  main {
    padding: 1rem;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
  }

footer {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #666;
  color: #FFF;
  position: fixed;
  bottom: 0;
  right: 20px;
}

html {
  scroll-behavior: smooth;
}
